.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.button-home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1.042vw;
  left: 1.042vw;
  width: 4.167vw;
  height: 4.167vw;
  border-radius: 0.625vw;
  background-color: $white;
  box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  z-index: 99;
  &.off {
    transform: translateY(-150%);
  }
  .img-logo {
    display: block;
    width: 2.604vw;
    height: 2.5vw;
  }
}

.menubar {
  display: flex;
  position: fixed;
  top: 1.042vw;
  right: 1.042vw;
  border-radius: 0.625vw;
  background-color: $white;
  font-size: 0.833vw;
  box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
  z-index: 99;

  &.off {
    transform: translateY(-150%);
  }
  .container-link {
    display: flex;
    align-items: center;
    .link-menu {
      padding: 1.563vw;
      @include aktiv-bold-font;
      color: $background-color;
      &:first-child {
        padding-right: 0.521vw;
      }
      &:last-child {
        padding-left: 0.521vw;
      }
      &:hover {
        color: $gray03;
      }
      &.clicked {
        color: $primary-color;
        @include aktiv-xbold-font;
      }
    }
  }
}

.container-community {
  position: relative;
  padding: 1.563vw;
  background-color: $primary-color;
  border-radius: 0 0.625vw 0.625vw 0;
  cursor: pointer;
  .button-menu {
    color: $background-color;
    @include aktiv-xbold-font;
    font-size: 0.833vw;
    line-height: 1.067vw;
    &::after {
      content: "";
      display: inline-block;
      width: 0.696vw;
      height: 0.625vw;
      margin-left: 0.417vw;
      background-image: url(../src/img/polygon.svg);
      transition: all 0.5s;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    &.on::after {
      transform: rotate(180deg);
    }
  }
  .list-community {
    opacity: 0;
    position: absolute;
    top: 5.208vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 1.563vw;
    border-radius: 0.625vw;
    color: $gray01;
    box-shadow: 0 0.313vw 0.625vw rgba(0, 0, 0, 0.25);
    background-color: $white;
    &.on {
      opacity: 100;
      transition: all 0.5s;
    }
    .item-community {
      margin-bottom: 1.302vw;
      padding-left: 1.823vw;
      background-image: url(../src/img/sns_sprite.svg);
      background-repeat: no-repeat;
      background-size: 1.302vw auto;
      line-height: 1.146vw;
      @include aktiv-bold-font;
      &.discord {
        background-position: 0 -2.3vw;
      }
      &.twitter {
        background-position: 0 -4.6vw;
      }
      &.telegram {
        background-position: 0 -6.9vw;
      }
      &.medium {
        background-position: 0 -9.2vw;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer-main {
  display: flex;
  gap: 10.573vw;
  height: 12.188vw;
  padding: 2.083vw 6.25vw;
  background-color: $primary-color;
  color: $gray00;
  .wrapper-img-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 11.854vw;
    }
  }
  .wrapper-contact {
    display: flex;
    flex-direction: column;
    dl {
      display: flex;
      gap: 2.5vw;
      margin-bottom: 1.042vw;
      .txt-contact {
        @include aktiv-xbold-font;
        font-size: 0.833vw;
      }
      .txt-email {
        @include aktiv-medium-font;
        font-size: 0.833vw;
        line-height: 1.067vw;
        dd:last-child {
          margin-top: 0.208vw;
        }
      }
    }
    .txt-community {
      margin-bottom: 0.651vw;
      @include aktiv-xbold-font;
      font-size: 0.833vw;
    }
    .wrapper-link-community {
      display: flex;
      gap: 3.385vw;
      .link-community {
        position: relative;
        width: 3.1vw;
        height: 2.865vw;
        background-image: url(../src/img/sns_sprite_footer.svg);
        background-repeat: no-repeat;
        background-size: auto 2.8vw;
        &.instagram {
          background-position: -0.05vw 0;
        }
        &.discord {
          background-position: -5.7vw 0;
        }
        &.twitter {
          background-position: -11.4vw 0;
        }
        &.telegram {
          background-position: -17.1vw 0;
        }
        &.medium {
          background-position: -22.8vw 0;
        }
        a {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .wrapper-txt-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 26.042vw;
    font-size: 0.833vw;
    .content-footer {
      @include pretendard-medium-font;
      line-height: 1.25vw;
    }
    .content-copyright {
      @include aktiv-xbold-font;
      line-height: 1.067vw;
    }
  }
}
