@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");
@font-face {
  font-family: "slacklight";
  src: url(../src/font/Slack-Light-6miepk.woff);
  font-weight: 300;
}
