@charset "UTF-8";
/* Reset CSS */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");
@import url("https://use.typekit.net/qzs8vce.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 추가 */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Pretendard, sans-serif;
  color: #3f3f46;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  padding: 0;
  border: 0;
}

textarea {
  border: none;
  outline: none;
  resize: none;
}

textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a,
button {
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

/* chrome input-box color reset */
input:-webkit-autofill {
  -webkit-text-fill-color: #000;
}

input:-webkit-autofill:-webkit-autofill, input:-webkit-autofill:-webkit-autofill:hover, input:-webkit-autofill:-webkit-autofill:focus, input:-webkit-autofill:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "slacklight";
  src: url(../src/font/Slack-Light-6miepk.woff);
}

@font-face {
  font-family: "aktiv-grotesk";
  src: url(http://typekit.com/eulas/00000000000000003b9ad13a);
}

body {
  word-break: keep-all;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.button-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 1.042vw;
  left: 1.042vw;
  width: 4.167vw;
  height: 4.167vw;
  border-radius: 0.625vw;
  background-color: #fff;
  -webkit-box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99;
}

.button-home.off {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.button-home .img-logo {
  display: block;
  width: 2.604vw;
  height: 2.5vw;
}

.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 1.042vw;
  right: 1.042vw;
  border-radius: 0.625vw;
  background-color: #fff;
  font-size: 0.833vw;
  -webkit-box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 99;
}

.menubar.off {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.menubar .container-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menubar .container-link .link-menu {
  padding: 1.563vw;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #d9d9d9;
}

.menubar .container-link .link-menu:first-child {
  padding-right: 0.521vw;
}

.menubar .container-link .link-menu:last-child {
  padding-left: 0.521vw;
}

.menubar .container-link .link-menu:hover {
  color: #8f8f8f;
}

.menubar .container-link .link-menu.clicked {
  color: #6b1fff;
}

.container-community {
  position: relative;
  padding: 1.563vw;
  background-color: #6b1fff;
  border-radius: 0 0.625vw 0.625vw 0;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
}

.container-community .button-menu {
  color: #d9d9d9;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 0.833vw;
  line-height: 1.067vw;
}

.container-community .button-menu::after {
  content: "";
  display: inline-block;
  width: 0.696vw;
  height: 0.625vw;
  margin-left: 0.417vw;
  background-image: url(../src/img/polygon.svg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-community .button-menu.on::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container-community .list-community {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 5.208vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1.563vw;
  border-radius: 0.625vw;
  color: #d9d9d9;
  -webkit-box-shadow: 0 0.313vw 0.625vw rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.313vw 0.625vw rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.container-community .list-community.on {
  opacity: 100;
  visibility: visible;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container-community .list-community .item-community {
  margin-bottom: 1.302vw;
  padding-left: 1.823vw;
  background-image: url(../src/img/sns_sprite.svg);
  background-repeat: no-repeat;
  background-size: 1.302vw auto;
  line-height: 1.146vw;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.container-community .list-community .item-community.discord {
  background-position: 0 -2.3vw;
}

.container-community .list-community .item-community.twitter {
  background-position: 0 -4.6vw;
}

.container-community .list-community .item-community.telegram {
  background-position: 0 -6.9vw;
}

.container-community .list-community .item-community.medium {
  background-position: 0 -9.2vw;
}

.container-community .list-community .item-community:last-child {
  margin-bottom: 0;
}

.footer-main {
  padding: 0 12.5vw;
  background-color: #6b1fff;
  color: #e9e9e9;
}

.footer-main .wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4.167vw 0 4.167vw;
  border-top: 0.104vw solid #d9d9d9;
}

.footer-main .wrapper-img-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-main .wrapper-img-footer img {
  width: 11.854vw;
}

.footer-main .wrapper-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-main .wrapper-contact dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5vw;
  margin-bottom: 1.667vw;
}

.footer-main .wrapper-contact dl .txt-contact {
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 0.833vw;
  line-height: 1.067vw;
}

.footer-main .wrapper-contact dl .txt-email {
  font-family: "aktiv-grotesk-extended", fantasy;
  font-weight: 500;
  font-size: 0.833vw;
  line-height: 1.067vw;
}

.footer-main .wrapper-contact dl .txt-email dd:last-child {
  margin-top: 0.208vw;
}

.footer-main .wrapper-contact .txt-community {
  margin-bottom: 0.625vw;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 0.833vw;
}

.footer-main .wrapper-contact .wrapper-link-community {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-main .wrapper-contact .wrapper-link-community .link-community {
  position: relative;
  width: 3.1vw;
  height: 2.865vw;
  background-image: url(../src/img/sns_sprite_footer.svg);
  background-repeat: no-repeat;
  background-size: auto 2.8vw;
}

.footer-main .wrapper-contact .wrapper-link-community .link-community.instagram {
  background-position: -0.05vw 0;
}

.footer-main .wrapper-contact .wrapper-link-community .link-community.discord {
  background-position: -5.7vw 0;
}

.footer-main .wrapper-contact .wrapper-link-community .link-community.twitter {
  background-position: -11.4vw 0;
}

.footer-main .wrapper-contact .wrapper-link-community .link-community.telegram {
  background-position: -17.1vw 0;
}

.footer-main .wrapper-contact .wrapper-link-community .link-community.medium {
  background-position: -22.8vw 0;
}

.footer-main .wrapper-contact .wrapper-link-community .link-community a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footer-main .wrapper-txt-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 26.042vw;
  font-size: 0.833vw;
}

.footer-main .wrapper-txt-footer .content-footer {
  font-family: "pretendard", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25vw;
}

.footer-main .wrapper-txt-footer .content-copyright {
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.067vw;
}

.container-video-fame.background .video-background-fame {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 50%;
  z-index: -11;
}

.container-main.home .container-video {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.container-main.home .container-video video {
  position: absolute;
  top: 0;
  left: 0;
}

.container-main.home .title {
  display: block;
  color: #6b1fff;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 5vw;
}

.container-main.home .title .slacklight {
  font-family: "slacklight", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.container-main.home .subtext {
  margin-top: 2.083vw;
  font-family: "pretendard", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25vw;
  line-height: 3vw;
  letter-spacing: -0.03em;
}

.container-main.home .section-main {
  text-align: center;
}

.container-main.home .section-main .wrapper-main {
  padding: 8.333vw 18.854vw 8.333vw;
  margin-top: 100vh;
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
}

.container-main.home .section-main .title-main.title {
  font-size: 4.167vw;
}

.container-main.home .section-main .txt-main {
  padding-top: 4.167vw;
  font-size: 1.667vw;
  color: #6b1fff;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 2.5vw;
}

.container-main.home .section-info {
  padding: 6.25vw 12.5vw 0;
  background-color: #fff;
}

.container-main.home .section-info .title-info span {
  display: block;
}

.container-main.home .section-info .container-video.info {
  padding-top: 50%;
  margin-top: 2.083vw;
  border-radius: 1.563vw;
}

.container-main.home .section-info .container-video.info video {
  width: 100%;
  -webkit-transform: translateY(-2%);
          transform: translateY(-2%);
}

.container-main.home .section-info .container-video-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.042vw;
  margin-top: 1.042vw;
}

.container-main.home .section-info .container-video-list .card-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.042vw;
  width: calc((100% - 3.125vw) / 4);
}

.container-main.home .section-info .container-video-list .card-video .container-video.info {
  padding-top: 100%;
  margin-top: 0;
}

.container-main.home .section-info .container-video-list .card-video .container-video.info video {
  width: 180%;
  -webkit-transform: translateX(-22%);
          transform: translateX(-22%);
}

.container-main.home .section-info .container-video-list .card-video .caption-video {
  color: #6b1fff;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1.25vw;
}

.container-main.home .section-xfame {
  padding: 12.5vw 12.5vw 0;
  background-color: #fff;
}

.container-main.home .section-xfame .wrapper-logotext .img-logotext {
  width: 30.625vw;
}

.container-main.home .section-xfame .wrapper-logotext .txt-xfame-info {
  width: 55.99vw;
}

.container-main.home .section-xfame .button-xfame {
  margin-top: 2.083vw;
  padding: 1.276vw 3.385vw;
  border-radius: 0.625vw;
  background-color: #6b1fff;
  color: #fff;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1.25vw;
}

.container-main.home .section-xfame .container-video.xfame {
  padding-top: 50%;
  margin-top: 2.083vw;
  border-radius: 1.563vw;
}

.container-main.home .section-xfame .container-video.xfame video {
  width: 100%;
}

.container-main.home .section-media {
  background-color: #fff;
}

.container-main.home .section-media .link-article {
  display: block;
  text-align: right;
  margin-top: 40px;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1.25vw;
  color: #8f8f8f;
}

.container-main.home .section-media .article-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 1.042vw;
  height: 28.125vw;
  border-radius: 1.563vw;
  overflow: hidden;
  -webkit-box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
}

.container-main.home .section-media .article-media .img-article {
  min-width: 35.833vw;
  height: auto;
  background-image: url(../src/img/FAME_XFAME_Banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-main.home .section-media .article-media .wrapper-content-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.083vw;
  padding: 0 2.083vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.container-main.home .section-media .article-media .wrapper-content-article .date-updated {
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.25vw;
  color: #8f8f8f;
}

.container-main.home .section-media .article-media .wrapper-content-article .title-article {
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1.667vw;
  color: #6b1fff;
  line-height: 2.133vw;
}

.container-main.home .section-media .article-media .wrapper-content-article .content-article {
  font-family: "pretendard", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.875vw;
  color: #5b5b5b;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container-main.home .section-media .article-media .wrapper-content-article .txt-article {
  font-family: "pretendard", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.25vw;
  color: #8f8f8f;
}

.container-main.home .section-team {
  padding: 12.5vw 12.5vw 7.292vw;
  background-color: #fff;
}

.container-main.home .section-team .container-team {
  margin: 2.083vw 0 4.167vw;
}

.container-main.home .section-team .container-team .list-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.042vw;
}

.container-main.home .section-team .container-team .list-members .card-member {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 1.042vw * 3) / 4);
  margin-bottom: 1.042vw;
  padding: 1.042vw;
  border-radius: 0.625vw;
  -webkit-box-shadow: 0 0.313vw 0.625vw 0 #00000040;
          box-shadow: 0 0.313vw 0.625vw 0 #00000040;
}

.container-main.home .section-team .container-team .list-members .card-member .txt-position {
  color: #6b1fff;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1.25vw;
  line-height: 1.875vw;
}

.container-main.home .section-team .container-team .list-members .card-member .txt-name {
  font-family: "pretendard", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #5b5b5b;
  line-height: 1.875vw;
  font-size: 1.25vw;
}

.container-main.home .section-team .container-team .list-members .card-member .link-member {
  width: 7.083vw;
  height: 2.292vw;
  margin-top: 0.521vw;
  border-radius: 2.656vw;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.833vw;
  line-height: 1.067vw;
}

.container-main.home .section-team .container-team .list-members .card-member .link-member img {
  width: 100%;
}

.container-main.home .section-alliances {
  padding: 2.083vw 12.5vw;
  background-color: #6b1fff;
}

.container-main.home .section-alliances .title-alliances.title {
  color: #d9d9d9;
  line-height: 6.4vw;
}

.container-main.home .section-alliances .container-alliances {
  margin-top: 2.083vw;
}

.container-main.home .section-alliances .container-alliances .list-alliances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance {
  width: calc((100% - 2.083vw * 3) / 4);
  height: 14.583vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.seoul_shwrm {
  background-image: url(../src/img/alliances/seoul_shwrm.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.D3D {
  background-image: url(../src/img/alliances/D3D.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.UB_partners {
  background-image: url(../src/img/alliances/UB_partners.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.SEWORKS {
  background-image: url(../src/img/alliances/SEWORKS.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.CONLAB_COMPANY {
  background-image: url(../src/img/alliances/CONLAB_COMPANY.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.PULSE9 {
  background-image: url(../src/img/alliances/PULSE9.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.Epiclions {
  background-image: url(../src/img/alliances/Epiclions.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.Angry_Polar_Bears {
  background-image: url(../src/img/alliances/Angry_Polar_Bears.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.PACEMAKERS {
  background-image: url(../src/img/alliances/PACEMAKERS.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.Three_Kingdoms {
  background-image: url(../src/img/alliances/Three_Kingdoms.svg);
}

.container-main.home .section-alliances .container-alliances .list-alliances .item-alliance.Angry_Bulls_Club {
  background-image: url(../src/img/alliances/Angry_Bulls_Club.svg);
}

.container-video-company.background .video-background-company {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -11;
}

.container-main.company .title {
  display: inline;
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
  line-height: 8vw;
  color: #6b1fff;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 6.25vw;
}

.container-main.company .title .slacklight {
  font-family: "slacklight", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.container-main.company .content {
  font-family: "pretendard", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #6b1fff;
  font-size: 1.667vw;
  line-height: 3vw;
}

.container-main.company .section-main {
  background-color: transparent;
  text-align: center;
}

.container-main.company .section-main .container-gradient {
  width: 100vw;
  height: 100vh;
}

.container-main.company .section-main .container-gradient .gradient {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47.4%, rgba(217, 217, 217, 0)), color-stop(94.19%, #d9d9d9));
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 47.4%, #d9d9d9 94.19%);
  z-index: 98;
}

.container-main.company .section-main .wrapper-main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-main.company .section-main .wrapper-main-content .link-pdf {
  display: inline-block;
  margin-top: 2.083vw;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 1.25vw;
  padding: 1.276vw 6.406vw;
  background-color: #6b1fff;
  color: #fff;
  border-radius: 0.625vw;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.container-main.company .section-main .wrapper-main-content .link-pdf:hover {
  background: #30008f;
}

.container-main.company .section-main .wrapper-main-content .title-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.042vw;
  color: #fff;
  background-color: transparent;
  line-height: 6.25vw;
}

.container-main.company .section-main .title-main {
  margin: 0;
  padding: 0 10.964vw;
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
}

.container-main.company .section-main .txt-main {
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
  font-size: 1.667vw;
  color: #6b1fff;
  font-family: "aktiv-grotesk-extended", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 3vw;
}

.container-main.company .section-vision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 12.5vw;
  margin-top: 100vh;
}

.container-main.company .section-vision .title-vision {
  padding-left: 13.646vw;
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
}

.container-main.company .section-vision .content-vision {
  padding: 1.042vw 6.25vw 1.042vw 3.021vw;
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
}

.container-main.company .section-mission {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 12.5vw;
}

.container-main.company .section-mission .title-mission {
  padding-right: 6.25vw;
}

.container-main.company .section-mission .content-mission {
  padding: 1.042vw 2.969vw 1.042vw 6.25vw;
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
}

.container-main.company .section-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 12.5vw;
}

.container-main.company .section-slogan .title-slogan {
  padding-left: 6.25vw;
}

.container-main.company .section-slogan .wrapper-content {
  padding: 1.042vw 6.25vw 1.042vw 4.844vw;
  background: rgba(196, 196, 196, 0.6);
  -webkit-backdrop-filter: blur(0.521vw);
          backdrop-filter: blur(0.521vw);
}

.container-main.company .section-slogan .wrapper-content .title {
  background: transparent;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
}

.container-main.company .section-slogan .wrapper-content span,
.container-main.company .section-slogan .wrapper-content h3 {
  padding: 0;
  margin: 0;
}

.wrapper-footer.company {
  border-top: 0;
}

.section-media {
  padding: 0;
}

.section-media h2.title {
  padding: 12.5vw 12.5vw 0;
}

.swiper-slide {
  padding: 0 12.5vw 4vw 12.5vw;
}

.swiper-button-next {
  right: 10vw !important;
  width: 5vw !important;
  background: #6b1fff;
  height: 5vw !important;
  border-radius: 999999px;
}

.swiper-button-prev {
  left: 10vw !important;
  background: #6b1fff;
  width: 5vw !important;
  height: 5vw !important;
  border-radius: 999999px;
}

:root {
  --swiper-theme-color: white !important;
  --swiper-navigation-size: 2.5vw !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: 900 !important;
  position: relative;
}

.swiper-button-next:after {
  left: 0.2vw;
}

.swiper-button-prev:after {
  right: 0.2vw;
}

.swiper-button-next,
.swiper-button-prev {
  top: 43% !important;
}

.swiper-pagination-bullet-active {
  background: #6b1fff !important;
}

.swiper-pagination-bullet {
  width: 1.042vw !important;
  height: 1.042vw !important;
  margin: 0 0.521vw !important;
  border-radius: 0 !important;
}

.swiper-button-disabled {
  opacity: 1 !important;
  background: rgba(200, 200, 200, 0.7);
}
/*# sourceMappingURL=style.css.map */