.container-video-company.background {
  .video-background-company {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -11;
  }
}

.container-main.company {
  // 전체 적용
  .title {
    display: inline-block;
    padding-left: 12.5vw;
    background: rgba(196, 196, 196, 0.8);
    backdrop-filter: blur(0.521vw);
    line-height: 6.4vw;
    color: $primary-color;
    @include aktiv-xbold-font;
    font-size: 5vw;
    .slacklight {
      font-family: $slacklight-font;
      font-weight: 300;
    }
  }
  .content {
    @include pretendard-medium-font;
    color: $primary-color;
    font-size: 1.25vw;
    line-height: 2.25vw;
    letter-spacing: -0.03em;
  }

  // 메인 섹션
  .section-main {
    background-color: transparent;
    text-align: center;
    .title-main {
      margin: 0;
      color: $white;
      text-shadow: $white 0.01vw 0 0.4vw;
      background-color: transparent;
      backdrop-filter: blur(0);
      font-size: 6.25vw;
    }
    .wrapper-main-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .link-pdf {
        display: inline-block;
        margin-top: 2.083vw;
        @include aktiv-xbold-font;
        font-size: 1.25vw;
        padding: 1.276vw 6.406vw;
        background-color: $primary-color;
        color: $white;
        border-radius: 0.625vw;
        transition: background 0.2s;
        &:hover {
          background: rgb(48, 0, 143);
        }
      }
    }
  }

  .section-vision {
    margin-bottom: 12.5vw;
    margin-top: 100vh;
    .title-vision {
      background: rgba(196, 196, 196, 0.8);
      backdrop-filter: blur(0.521vw);
    }
    .wrapper-vision {
      margin-left: 24.115vw;
      padding: 0 0 2.083vw 2.083vw;
      background: rgba(196, 196, 196, 0.8);
      backdrop-filter: blur(0.521vw);
      color: $primary-color;
      @include aktiv-xbold-font;
      ol {
        .txt-vision {
          display: flex;
          align-items: center;
          margin-bottom: 2.083vw;
          @include pretendard-bold-font;
          font-size: 1.667vw;
          .num-vision {
            margin-right: 2.083vw;
            font-size: 5vw;
            line-height: 6.4vw;
          }
        }
      }
      .container-symbol {
        display: flex;
        gap: 2.083vw;
        .wrapper-symbol {
          display: flex;
          flex-direction: column;
          width: 28.542vw;
          .txt-symbol {
            margin-bottom: 0.521vw;
            line-height: 3vw;
            letter-spacing: -0.03em;
          }
          .wrapper-color {
            display: flex;
            align-items: center;
            gap: 1.042vw;
            @include pretendard-medium-font;
            font-size: 1.25vw;
            line-height: 1.875vw;
            .box-color {
              width: 7.813vw;
              height: 7.813vw;
              background-color: $primary-color;
            }
          }
        }
      }
    }
  }

  .section-slogan {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12.5vw;
    .wrapper-content {
      padding: 1.042vw 6.25vw 1.042vw 4.844vw;
      background: rgba(196, 196, 196, 0.8);
      backdrop-filter: blur(0.521vw);
      .txt-slogan {
        margin-bottom: 2.083vw;
        font-size: 3.333vw;
        line-height: 3.333vw;
      }
      .title {
        padding: 0;
        background: transparent;
        backdrop-filter: blur(0);
      }
      span,
      h3 {
        padding: 0;
        margin: 0;
      }
    }
  }

  .section-corporations {
    .wrapper-corporations {
      display: flex;
      flex-shrink: 1;
      gap: 1.042vw;
      padding: 4.583vw 2.083vw 6.667vw;
      background: rgba(196, 196, 196, 0.8);
      backdrop-filter: blur(0.521vw);
      img {
        width: 25%;
        &:nth-child(2) {
          width: 50%;
          flex: 2 1 0;
        }
      }
    }
  }
}

.wrapper-footer.company {
  border-top: 0;
}
