.container-video-fame.background {
  .video-background-fame {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 50%;
    z-index: -11;
  }
}

.container-main.home {
  .container-video {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    video {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .title {
    display: block;
    color: $primary-color;
    @include aktiv-xbold-font;
    font-size: 5vw;
    .slacklight {
      font-family: $slacklight-font;
      font-weight: 300;
    }
  }
  .subtext {
    margin-top: 2.083vw;
    @include pretendard-medium-font;
    font-size: 1.25vw;
    line-height: 3vw;
    letter-spacing: -0.03em;
  }

  .section-main {
    text-align: center;
    .wrapper-main {
      padding: 8.333vw 18.854vw 8.333vw;
      margin-top: 100vh;
      background: rgba(196, 196, 196, 0.6);
      backdrop-filter: blur(0.521vw);
    }
    .title-main.title {
      font-size: 4.167vw;
    }
    .txt-main {
      padding-top: 4.167vw;
      font-size: 1.667vw;
      color: $primary-color;
      @include aktiv-bold-font;
      line-height: 2.5vw;
    }
  }

  .section-info {
    padding: 6.25vw 12.5vw 0;
    background-color: $white;
    .title-info span {
      display: block;
    }
    .container-video.info {
      padding-top: 50%;
      margin-top: 2.083vw;
      border-radius: 1.563vw;
      video {
        width: 100%;
        transform: translateY(-2%);
      }
    }
    .container-video-list {
      display: flex;
      gap: 1.042vw;
      margin-top: 1.042vw;
      .card-video {
        display: flex;
        flex-direction: column;
        gap: 1.042vw;
        width: calc((100% - 3.125vw) / 4);
        .container-video.info {
          padding-top: 100%;
          margin-top: 0;
          video {
            width: 180%;
            transform: translateX(-22%);
          }
        }
        .caption-video {
          color: $primary-color;
          @include aktiv-xbold-font;
          font-size: 1.25vw;
        }
      }
    }
  }

  .section-xfame {
    padding: 12.5vw 12.5vw 0;
    background-color: $white;
    .wrapper-logotext {
      .img-logotext {
        width: 30.625vw;
      }
      .txt-xfame-info {
        width: 55.99vw;
      }
    }
    .button-xfame {
      margin-top: 2.083vw;
      padding: 1.276vw 3.385vw;
      border-radius: 0.625vw;
      background-color: $primary-color;
      color: $white;
      @include aktiv-xbold-font;
      font-size: 1.25vw;
    }
    .container-video.xfame {
      padding-top: 50%;
      margin-top: 2.083vw;
      border-radius: 1.563vw;

      video {
        width: 100%;
      }
    }
  }

  .section-media {
    background-color: $white;
    .link-article {
      display: block;
      text-align: right;
      margin-top: 40px;
      @include aktiv-xbold-font;
      font-size: 1.25vw;
      color: $gray02;
    }
    .article-media {
      display: flex;
      width: 100%;
      margin-top: 1.042vw;
      height: 28.125vw;
      border-radius: 1.563vw;
      overflow: hidden;
      box-shadow: 0 0.208vw 0.208vw rgba(0, 0, 0, 0.25);
      .img-article {
        min-width: 35.833vw;
        height: auto;
        background-image: url(../src/img/FAME_XFAME_Banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .wrapper-content-article {
        display: flex;
        flex-direction: column;
        gap: 2.083vw;
        padding: 0 2.083vw;
        justify-content: center;
        text-align: left;
        .date-updated {
          @include aktiv-bold-font;
          font-size: 1.25vw;
          color: $gray02;
        }
        .title-article {
          @include aktiv-xbold-font;
          font-size: 1.667vw;
          color: $primary-color;
          line-height: 2.133vw;
        }
        .content-article {
          @include pretendard-medium-font;
          line-height: 1.875vw;
          color: $gray03;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .txt-article {
          @include pretendard-medium-font;
          font-size: 1.25vw;
          color: $gray02;
        }
      }
    }
  }

  .section-team {
    padding: 12.5vw 12.5vw 7.292vw;
    background-color: $white;
    .container-team {
      margin: 2.083vw 0 4.167vw;
      .list-members {
        display: flex;
        flex-wrap: wrap;
        gap: 1.042vw;
        .card-member {
          flex-wrap: wrap;
          display: flex;
          flex-direction: column;
          width: calc((100% - 1.042vw * 3) / 4);
          margin-bottom: 1.042vw;
          padding: 1.042vw;
          border-radius: 0.625vw;
          box-shadow: 0 0.313vw 0.625vw 0 #00000040;
          .txt-position {
            color: $primary-color;
            @include aktiv-xbold-font;
            font-size: 1.25vw;
            line-height: 1.875vw;
          }
          .txt-name {
            @include pretendard-medium-font;
            color: $gray03;
            line-height: 1.875vw;
            font-size: 1.25vw;
          }
          .link-member {
            width: 7.083vw;
            height: 2.292vw;
            margin-top: 0.521vw;
            border-radius: 2.656vw;
            @include aktiv-bold-font;
            font-size: 0.833vw;
            line-height: 1.067vw;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .section-alliances {
    padding: 2.083vw 12.5vw;
    background-color: $primary-color;
    .title-alliances.title {
      color: $gray01;
      line-height: 6.4vw;
    }
    .container-alliances {
      margin-top: 2.083vw;
      .list-alliances {
        display: flex;
        flex-wrap: wrap;
        .item-alliance {
          width: calc((100% - 2.083vw * 3) / 4);
          height: 14.583vw;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          &.seoul_shwrm {
            background-image: url(../src/img/alliances/seoul_shwrm.svg);
          }
          &.D3D {
            background-image: url(../src/img/alliances/D3D.svg);
          }
          &.UB_partners {
            background-image: url(../src/img/alliances/UB_partners.svg);
          }
          &.SEWORKS {
            background-image: url(../src/img/alliances/SEWORKS.svg);
          }
          &.CONLAB_COMPANY {
            background-image: url(../src/img/alliances/CONLAB_COMPANY.svg);
          }
          &.PULSE9 {
            background-image: url(../src/img/alliances/PULSE9.svg);
          }
          &.Epiclions {
            background-image: url(../src/img/alliances/Epiclions.svg);
          }
          &.Angry_Polar_Bears {
            background-image: url(../src/img/alliances/Angry_Polar_Bears.svg);
          }
          &.PACEMAKERS {
            background-image: url(../src/img/alliances/PACEMAKERS.svg);
          }
          &.Three_Kingdoms {
            background-image: url(../src/img/alliances/Three_Kingdoms.svg);
          }
          &.Angry_Bulls_Club {
            background-image: url(../src/img/alliances/Angry_Bulls_Club.svg);
          }
        }
      }
    }
  }
}
